{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry",
        "corejs": "2",
        "targets": {
          "browsers": [">1%", "not ie 11", "not op_mini all"]
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": ["@babel/proposal-class-properties"]
}
